.c-bakeString
    {
        margin-top: 1px;
        
        width: 5%;
        margin-right: 1%;

        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
    }