.c-onTop
{
    width: 40px;
    height: 40px;

    position: fixed;

    bottom: 26px;
    right: 27px;

    z-index: 101;

    background-image: url('../images/top.png');
    background-size: cover;
    background-repeat: no-repeat;

    opacity: 0;
}