.c-row1
{
    height: 419.69px;

    display: flex;

    text-align: center;

    &__aboutAnchor
    {
        display: inline-block;

        width: 0px;
        height: 30px;
    }

    &__part1
    {
        width: 25%;
        background-color: #4e2a84;

        &__headerLeft
        {
            color: white;
            font-size: 24px;
            padding-bottom: 16px;

            margin-top: 47.8%;
        }

        &__pLeft
        {
            width: 271.75px;
            height: 87px;

            margin: 0px auto;

            line-height: 29px;

            color: #c1c1c1;
            font-size: 14px;
        }
    }

    &__part2
    {
        width: 50%;

        background-image: url('../images/tradition.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__part3
    {
        width: 25%;
        background-color: #ff0e83;

        &__headerRight
        {
            @extend .c-row1__part1__headerLeft;
        }

        &__pRight
        {
            @extend .c-row1__part1__pLeft;
        }
    }
}